.container {
  background-color: $white;
  overflow: hidden;
  z-index: $zindex-main-content-ui;

  @include mobile {
    max-width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;

    z-index: $zindex-modal;
  }
}

.notification {
  width: 36.8rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.8rem 0 rgba($gray-shadow, 0.25);

  @include mobile {
    border-radius: 0;
    box-shadow: none;
  }
}

.reservationDatePick {
  width: 48rem;
  border-radius: 2.4rem;

  @include mobile {
    border-radius: 0;
    box-shadow: none;
  }
}
