.container {
  display: flex;
  gap: 1rem;
}
.pageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid $green-200;
  background: #fff;
  @include mobile {
    width: 4rem;
    height: 4rem;
  }
  &:disabled {
    border: 0.1rem solid $gray-300;
  }
}
.pageLeft {
  transform: rotate(90deg);
}
.pageRight {
  transform: rotate(270deg);
}
.page {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 1.5rem;
  border: 1px solid $green-200;
  background: #fff;
  color: $green-200;
  text-align: center;
  font-size: 1.8rem;
  @include mobile {
    width: 4rem;
    height: 4rem;
    padding: 17px 30px;
  }
}
.clickedPage {
  background: $green-200;
  color: #fff;
}
