.container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  gap: 1.6rem;
}
.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $black;
  @include pretendard-28-700;
  .per {
    color: $gray-800;
    @include pretendard-20-700;
    font-weight: 400;
  }
}
.mainText {
  color: $nomad-black;
  @include pretendard-20-700;
}
.stroke {
  @include tablet {
    width: 25.1rem;
  }
}
// HeadCountInfo css
.headCountInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  .countBox {
    display: inline-flex;
    align-items: flex-start;
    border-radius: 0.6rem;
    background: $white;
    box-shadow:
      0rem 0rem 0rem 0.1rem #cdd0dc inset,
      0rem 0.2rem 0.4rem 0rem rgba(5, 16, 55, 0.06);
    .minus,
    .plus {
      margin: 1rem;
    }
    .number {
      display: flex;
      width: 4rem;
      padding: 0.8rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: $gray-800;
      @include pretendard-16-400;
    }
  }
}
// PriceInfo css
.priceInfo {
  display: flex;
  justify-content: space-between;
}

// DateInfo css (임시)
.dateInfo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  .temp {
    width: 30.4653rem;
    height: 24.1rem;
    border-radius: 0.8rem;
    border: 0.1rem solid $gray-200;
    // 임시
    background: #111;
    margin: 0.8rem auto;
    @include tablet {
      display: none;
    }
  }
  .selectDate {
    display: none;
    @include tablet {
      display: block;
      color: $nomad-black;
      @include pretendard-16-400;
      font-weight: 600;
      text-decoration-line: underline;
    }
  }
  .reservationTime {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    @include tablet {
      display: none;
    }
    .timeBtns {
      display: flex;
      gap: 1.2rem;
      .btnClicked {
        padding: 1rem 1.2rem;
        border-radius: 0.8rem;
        border: 0.1rem solid $nomad-black;
        background: $nomad-black;
        color: $white;
        @include pretendard-16-500;
      }
      .btn {
        padding: 1rem 1.2rem;
        border-radius: 0.8rem;
        border: 0.1rem solid $nomad-black;
        background: $white;
        color: $nomad-black;
        @include pretendard-16-500;
      }
    }
  }
  .stroke {
    margin-top: 0.8rem;
    @include tablet {
      display: none;
    }
  }
}
