.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

.label {
  color: $black;
  @include pretendard-16-400;
}

.input {
  padding: 1.6rem 2rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $gray-600;
  align-content: center;
  @include pretendard-16-400;
}

.input:focus {
  border: 0.1rem solid $gray-700;
  outline: none;
}

.passwordContainer {
  width: 100%;
}

.eyeImg {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  bottom: 1.8rem;
  right: 1.8rem;
  cursor: pointer;
}
