.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &.large {
    width: 38.4rem;
    height: 21.4rem;
    padding: 3rem 2rem;

    @include mobile {
      width: 18.6rem;
      height: 11.5rem;
      padding: 1.2rem 2rem;
    }
  }

  &.small {
    width: 100%;
    gap: 1rem;
  }
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.starBold {
  &.large {
    width: 1.8rem;
    height: 1.8rem;
  }

  &.small {
    width: 2rem;
    height: 2rem;
  }
}

.rating {
  &.large {
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
  }
  &.small {
    color: $black;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.reviewCount {
  &.large {
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &.small {
    color: $gray-A1;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.cardDescription {
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &.large {
    width: 100%;
    color: $white;
    font-size: 3rem;
    font-weight: 700;

    @include mobile {
      width: 14.6rem;
      font-size: 1.8rem;
    }
  }

  &.small {
    width: 100%;
    padding-bottom: 0.5rem;
    color: $black;
    font-size: clamp(1rem, 5vw, 2.4rem);
    font-weight: 600;

    @include mobile {
      font-size: clamp(1rem, 5vw, 1.8rem);
    }
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  white-space: nowrap;

  &.large {
    color: $white;
    font-size: 2rem;

    @include mobile {
      font-size: 1.6rem;
    }
  }

  &.small {
    color: $black;
    font-size: 2.8rem;
    font-size: clamp(1rem, 5vw, 2.8rem);
  }
}

.perPerson {
  font-weight: 400;

  &.large {
    color: $gray-A1;
    font-size: 1.4rem;
  }

  &.small {
    color: $gray-800;
    font-size: 2rem;
    font-size: clamp(1rem, 3vw, 2rem);

    @include mobile {
      display: none;
    }
  }
}
