.cardContainer {
  display: flex;
  flex-direction: column;

  &.large {
    width: 100%;
    padding: 3rem 2rem;
    gap: 2rem;

    @include mobile {
      padding: 1.2rem 2rem;
      gap: 0.6rem;
    }
  }

  &.small {
    width: 100%;
    gap: 1rem;

    //   @include tablet {
    //     width: 22.1rem;
    //   }
    //   @include mobile {
    //     width: 16.8rem;
    //   }
  }
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.starBold {
  &.large {
    width: 1.8rem;
    height: 1.8rem;
  }

  &.small {
    width: 2rem;
    height: 2rem;
  }
}

.rating {
  &.large {
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
  }
  &.small {
    color: $black;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.reviewCount {
  &.large {
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &.small {
    color: $gray-A1;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.cardDescription {
  &.large {
    width: 23rem;
    color: $white;
    font-size: 3rem;
    font-weight: 700;

    @include mobile {
      width: 14.6rem;
      font-size: 1.8rem;
    }
  }

  &.small {
    width: 100%;
    padding-bottom: 0.5rem;
    color: $black;
    font-size: 2.4rem;
    font-weight: 600;

    @include tablet {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include mobile {
      font-size: 1.8rem;
    }
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;

  &.large {
    color: $white;
    font-size: 2rem;

    @include mobile {
      font-size: 1.6rem;
    }
  }

  &.small {
    color: $black;
    font-size: 2.8rem;

    @include mobile {
      font-size: 2rem;
    }
  }
}

.perPerson {
  font-weight: 400;

  &.large {
    color: $gray-A1;
    font-size: 1.4rem;
  }

  &.small {
    color: $gray-800;
    font-size: 2rem;

    @include mobile {
      font-size: 1.6rem;
    }
  }
}
