.header {
  display: flex;
  justify-content: space-between;
}

.category {
  @include pretendard-14-400;
  color: $nomad-black;
  width: 4rem;
  height: 2rem;
  animation: pulse 1.5s infinite ease-in-out;
}

.title {
  @include pretendard-20-700;
  font-size: 3.2rem;
  margin: 1.5rem 0;
  width: 40rem;
  height: 4rem;
  animation: pulse 1.5s infinite ease-in-out;
}

.footer {
  @include pretendard-14-400;
  display: flex;
  gap: 1rem;
  width: 20rem;
  height: 2rem;
  animation: pulse 1.5s infinite ease-in-out;
}

.rating {
  display: flex;
  gap: 0.5rem;
}

.address {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@keyframes pulse {
  0% {
    background-color: #94a3b8;
  }

  50% {
    background-color: #cbd5e1;
  }

  100% {
    background-color: #94a3b8;
  }
}
