.landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inner {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;

  @include mobile {
    padding: 0 16px;
  }
}

.bannerImg {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;

  @include mobile {
    height: 240px;
  }
}

.mainTitle {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  margin-top: 159px;
  gap: 20px;

  @include tablet {
    gap: 8px;
  }

  @include mobile {
    height: 90px;
    margin-top: 74px;
  }

  .title {
    width: 100%;
    padding-right: 25%;
    color: var(--white-white_FFFFFF, #fff);
    font-size: clamp(54px, 5vw, 68px);
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include tablet {
      font-size: clamp(36px, 5vw, 54px);
    }

    @include mobile {
      font-size: 24px;
    }
  }

  .description {
    color: var(--white-white_FFFFFF, #fff);
    font-size: 24px;
    font-weight: 700;

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}

.searchWrapper {
  display: flex;
  width: 100%;
  margin-top: 100px;
  border-radius: 16px;
  background-color: white;
  z-index: 3;

  @include tablet {
    // margin-top: 153px;
  }

  @include mobile {
    margin-top: 14px;
  }
}

.popularExperiences {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mobile {
    gap: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      color: var(--black-black_1B1B1B, #1b1b1b);
      font-size: 36px;
      font-weight: 700;

      @include mobile {
        font-size: 18px;
      }
    }

    .buttonArrowContainer {
      display: flex;
      display: none;
      gap: 12px;

      @media screen and (min-width: 1248px) {
        display: inline;
      }

      .buttonArrow {
        cursor: pointer;
      }
    }
  }
}

.scroll {
  width: 100%;
  overflow: hidden;
  // 드래그 방지
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cardContainer {
  width: 100%;
  gap: 24px;
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease;

  @include tablet {
    // gap: 32px;
  }

  @include mobile {
    gap: 16px;
  }
}
