.primary {
  color: #fff;
  background-color: #112211;
  // font-family: 'Courier New', Courier, monospace;
}

.secondary {
  color: #112211;
  background-color: #fff;
  //   border: 1px solid;
}

.disabled {
  color: #fff;
  background-color: #a4a1aa;
}
