.btn {
  padding: 1.4rem 0;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include Spoqa-16-700;
}

.primary {
  color: $white;
  background-color: $nomad-black;
}

.secondary {
  color: $nomad-black;
  background-color: $white;
  border: 0.1rem solid;
}

.disabled {
  color: $white;
  background-color: $gray-600;
}

.large {
  padding: 1.4rem 13.6rem;
}

.medium {
  padding: 1.2rem 3.3rem;
}

.small {
  padding: 1rem 2rem;
  @include Spoqa-14-700;
}

.full {
  width: 100%;
  display: block;
}
