.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79.2rem;
  margin-bottom: 2.4rem;

  h1 {
    @include pretendard-32-700;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 79.2rem;
  gap: 3.2rem;
}

.customLabel {
  @include pretendard-24-700;
}

.error {
  color: $red-200;
  margin-bottom: 1rem;
  @include pretendard-14-400;
}
