.container {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 22.2rem;

  .header {
    max-width: 124.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      padding: 0 1.2rem;
    }
    &_category {
      width: calc(100% - 17rem);
      @include mobile {
        width: calc(100% - 12rem);
      }
    }
  }

  .content {
    width: 100%;
    max-width: 124.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      padding: 0 1.2rem;
    }

    &_text {
      width: 100%;
      margin: 4rem 0;
      color: $black;
      @include pretendard-36-700;

      @include mobile {
        margin: 2.4rem 0;
        @include pretendard-18-700;
      }
      span {
        color: $nomad-black;
        @include pretendard-32-700;
        font-weight: 400;
        @include mobile {
          @include pretendard-18-500;
          font-weight: 400;
        }
      }
    }
    &_result {
      color: $black;
      @include pretendard-16-400;
      margin-top: 2rem;
    }

    &_cards {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 2rem;
      row-gap: 4rem;
      padding-bottom: 7.2rem;
      @include tablet {
        row-gap: 3.2rem;
      }
      @include mobile {
        row-gap: 2rem;
        padding-bottom: 6.2rem;
      }
    }

    .card {
      width: 28.3rem;
      display: flex;
      flex-direction: column;
      gap: 16px;
      cursor: pointer;

      @include pc {
        width: calc(33% - 1.6rem);
      }
      @include mobile {
        width: calc(50% - 1rem);
      }
    }
  }
}
