.chips {
  height: 2.3rem;

  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;

  @include pretendard-14-500;
  color: white;

  @include mobile {
    @include pretendard-12-500;
    height: 2rem;
  }
}

.seat {
  background-color: $white;
  color: $blue-300;
}

.reservation {
  background-color: $blue-300;
  color: $white;
}

.complete {
  background-color: $gray-300;
  color: $gray-800;
}

.confirmed {
  background-color: $red-100;
  color: $orange-200;
}
