.chips {
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  color: white;
}

.large {
  width: 11rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

.medium {
  width: 5.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

.small {
  width: 4.5rem;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: 500;
}
