.chips {
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  color: white;
}

.large {
  width: 11rem;
  @include pretendard-14-500;
}

.medium {
  width: 5.8rem;
  @include pretendard-14-500;
}

.small {
  width: 4.5rem;
  @include pretendard-14-500;
}

.seat {
  background-color: $white;
  color: $blue-300;
}

.reservation {
  background-color: $blue-300;
  color: $white;
}

.complete {
  background-color: $gray-300;
  color: $gray-800;
}

.confirmed {
  background-color: $red-100;
  color: $orange-200;
}
