$black: #1b1b1b;
$nomad-black: #333236;
$gray-100: #fafafa;
$gray-200: #eeeeee;
$gray-300: #dddddd;
$gray-400: #cbc9cf;
$gray-500: #adaeb8;
$gray-600: #a4a1aa;
$gray-700: #79747e;
$gray-800: #4b4b4b;

$green-100: #ced8d5;
$green-200: #0b3b2d;

$light-green-100: #00ac07;

$red-100: #ffe4e0;
$ed-200: #ff472e;

$orange-100: #fff4e8;
$orange-200: #ff7c1d;

$yellow-100: #ffc23d;

$blue-100: #e5f3ff;
$blue-200: #2eb4ff;
$blue-300: #0085ff;
