$black: #1b1b1b;
$white: #ffffff;
$nomad-black: #333236;
$box-shadow: #051037;
$gray-100: #fafafa;
$gray-200: #eeeeee;
$gray-300: #dddddd;
$gray-400: #cbc9cf;
$gray-500: #adaeb8;
$gray-600: #a4a1aa;
$gray-700: #79747e;
$gray-800: #4b4b4b;
$gray-DDD: #ddd;
$gray-A1: #a1a1a1;

$footer-font-color: #676767;
$nomad-black: #112211;

$green-100: #ced8d5;
$green-200: #0b3b2d;
$green-121: #121;

$light-green-100: #00ac07;

$red-100: #ffe4e0;
$red-200: #ff472e;

$orange-100: #fff4e8;
$orange-200: #ff7c1d;

$yellow-100: #ffc23d;

$blue-100: #e5f3ff;
$blue-200: #2eb4ff;
$blue-300: #0085ff;

$modal-font-color: #333236;
