@import './_colors.scss';
@import './_font.scss';
@import './_mixins.scss';
@import './_z-index.scss';

#wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

#contentWrapper {
  position: relative;
  width: 100%;
  max-width: 124.8rem;
  padding: 0 2.4rem;
}
