.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.category {
  @include pretendard-14-400;
  color: $nomad-black;
}

.title {
  @include pretendard-20-700;
  font-size: 3.2rem;
  margin: 1.5rem 0;
}

.footer {
  @include pretendard-14-400;
  display: flex;
  gap: 1rem;
}

.rating {
  display: flex;
  gap: 0.5rem;
}

.address {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.control {
  position: relative;
}

.popover {
  position: absolute;
  background-color: $white;
  right: 1rem;
  border-radius: 0.6rem;

  border: 0.1rem solid $gray-300;
  z-index: 9999;
  button {
    @include pretendard-18-500;
    padding: 1.6rem 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    &:last-child {
      border-top: 0.1rem solid $gray-300;
    }
  }
}
