.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.category {
  @include pretendard-14-400;
  color: $nomad-black;
}

.title {
  @include pretendard-20-700;
  font-size: 3.2rem;
  margin: 1.5rem 0;
}

.footer {
  @include pretendard-14-400;
  display: flex;
  gap: 1rem;
}

.rating {
  display: flex;
  gap: 0.5rem;
}

.address {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.control {
  position: relative;
}

.popover {
  position: absolute;
  background-color: $white;
  right: 1rem;
  border-radius: 0.6rem;

  border: 0.1rem solid $gray-300;
  z-index: 9999;
  button {
    @include pretendard-18-500;
    padding: 1.6rem 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    &:last-child {
      border-top: 0.1rem solid $gray-300;
    }
  }
}

/*
  사진 부분
*/
.gallery {
  aspect-ratio: 18/6;
  display: flex;
  gap: 0.5rem;
  margin: 3rem 0 6rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.cover {
  width: 50%;
  position: relative;
}

.subCovers {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subCovers-section {
  width: 100%;
  display: flex;
  height: 50%;
  gap: 0.5rem;
}

.subCover {
  width: 50%;
  position: relative;
  background-color: #eee;
}

/*
  container 레이아웃
*/

.container {
  display: flex;
  gap: 2rem;
  padding: 0 0 20rem;
}

.contents {
  flex-grow: 1;
  box-shadow: inset 0 0 0.5rem blue;
}

.sidebar {
  width: 38.4rem;
  flex-shrink: 0;
  box-shadow: inset 0 0 0.5rem red;
}
