.activityLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: $black;
  @include pretendard-32-700;
}

.button {
  width: 12rem;
  height: 4.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  background: $green-121;
  color: $white;
  @include pretendard-16-700;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.empty {
  width: 100%;
  padding-top: 5.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.description {
  color: $gray-700;
  font-family: Pretendard;
  @include pretendard-24-500;
}
