.background {
  background-color: $footer-background;

  width: 100%;
  height: 16rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 3.2rem 0 10.8rem;
  padding-left: 11.1rem;
  padding-right: 11.1rem;
  margin: 0 auto;
}

.container {
  color: $footer-font-color;
  width: 120rem;
  height: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright,
.link {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  white-space: nowrap;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logo {
  max-width: 11.6rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;

  svg {
    width: 2rem;
    height: 2rem;
  }
}

@include tablet {
  .container {
    width: 52.2rem;
    gap: 0.1rem;
  }
}

@include mobile {
  .background {
    padding: 3.2rem 0 6.6rem;
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }

  .container {
    width: 29.8rem;
    height: 6.2rem;
    flex-wrap: wrap;
  }

  .logo {
    flex-basis: 100%;
    margin: 0 auto;
  }
}
