.container {
  width: 100%;
  height: 87.3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2.4rem;

  .category {
    padding: 1rem 0 2rem;
  }

  .header {
    width: 34.2rem;
    height: 3.6rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9.6rem;

    margin: 0 auto;

    @include pretendard-20-700;
    color: $nomad-black;

    white-space: nowrap;
  }

  .content {
    width: 100%;
    height: 81.3rem;
  }

  .labelWrapper {
    width: 100%;
    height: 4.3rem;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .label {
      border-top: 0.1rem solid $calendar-border;
      border-left: 0.1rem solid $calendar-border;

      padding: 1.2rem;

      @include Inter-16-500;
      color: $calendar-color;

      &:first-child {
        border-top-left-radius: 0.8rem;
      }

      &:nth-child(7) {
        border-top-right-radius: 0.8rem;
        border-right: 0.1rem solid $calendar-border;
      }
    }
  }
}

@include tablet {
  .container {
    padding: 2.4rem;
    .labelWrapper {
      .label {
        padding: 0.7rem;
      }
    }
  }
}

@include mobile {
  .container {
    padding: 2.4rem;
  }
}
