.container {
  background-color: $white;
  border: 0.1rem solid $gray-300;
  border-radius: 2.4rem;

  width: 42.9rem;
  height: 69.7rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 2.4rem 2.4rem 3.2rem;

  box-shadow: 0 0.4rem 1.6rem 0 rgba($nomad-black, 0.05);

  z-index: $zindex-main-content-ui;

  @media (max-width: 641px) {
    border-radius: 0;
    box-shadow: none;

    width: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: $zindex-modal;
  }
}

.contents {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  padding-top: 2.5rem;
  color: $black;
}

.notOverflowed {
  position: absolute;
  top: -30rem;
  left: 14rem;
}

.overflowed {
  position: absolute;
  top: -30rem;
  left: -30rem;
}
