.container {
  background-color: $white;
  border: 0.1rem solid $gray-300;
  border-radius: 2.4rem;

  width: 42.9rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 3rem;

  box-shadow: 0 0.4rem 1.6rem 0 rgba($nomad-black, 0.05);

  z-index: $zindex-main-content-ui;

  @media (max-width: 641px) {
    border-radius: 0;
    box-shadow: none;

    width: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: $zindex-modal;
  }
}

.contents {
  padding: 3rem 0;
  color: $black;
}
