.container {
  display: flex;
  gap: 2.4rem;
  @include tablet {
    gap: 1.4rem;
  }
  @include mobile {
    gap: 0.8rem;
  }
}
.wrapper {
  display: flex;
  width: 12.7rem;
  padding: 1.6rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 0.1rem solid $green-200;
  background: $white;
  color: $green-200;
  text-align: center;
  white-space: nowrap;
  @include pretendard-18-500;
  @include mobile {
    @include pretendard-14-400;
    width: 10rem;
    padding: 1.6rem 2rem;
  }
}
.clickedItem {
  background: $nomad-black;
  color: $white;
}
