.container {
  .scroll-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    @include tablet {
      gap: 1.4rem;
    }

    @include mobile {
      gap: 0.8rem;
    }

    .wrapper {
      background: $white;
      border-radius: 1.5rem;
      border: 0.1rem solid $green-200;

      min-width: 12.7rem;
      height: 5.3rem;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 1.6rem 3rem;

      @include pretendard-18-500;
      color: $green-200;
      text-align: center;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
      }

      @include tablet {
        min-width: 12rem;
      }

      @include mobile {
        min-width: 8rem;
        height: 4.1rem;

        padding: 1.2rem 2rem;

        @include pretendard-14-400;
      }
    }

    .clickedItem {
      background: $nomad-black;

      color: $white;
    }
  }
}
