.container {
  display: flex;
  gap: 2.4rem;
  @include tablet {
    gap: 1.4rem;
  }
  @include mobile {
    gap: 0.8rem;
  }
}
.wrapper {
  display: flex;
  width: 12.7rem;
  padding: 1.6rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 0.1rem solid $green-200;
  background: #fff;
  color: $green-200;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  @include mobile {
    width: 10rem;
    padding: 1.6rem 2rem;
    font-size: 1.4rem;
  }
}
.clickedItem {
  background: #121;
  color: #fff;
}
